// CSS for Interactive Video Player //

.wrapper {
    width: 100%;
}

#video-box {
    margin: auto;
    width: 100%;
}

video {
    width: 100%;
}

#video-controls {
    background: black;
    opacity: .7;
}

#seek-slider {
    width: 50%;
}

.transcript {
    margin: auto;
    width: 90%;
    font-family: 'Varela', sans-serif;
    font-size: 1em;
}

#current-time {
    color: white;
}
