// CSS for Interactive Video Player //

.wrapper {
    width: 100%;
}

#video-box {
    margin: auto;
    width: 100%;
}

video {
    width: 100%;
}

#video-controls {
    background: black;
    opacity: .6;
    position: relative;
    width: 100%;
    height: 20px;
    bottom: 40px;
    margin: auto;
    color: white;
}

#seek-slider {
    width: 50%;
    background: purple;
    color: pink;
}

/*input[type='range'] {
    background: yellow;
    color: green;
    border-radius: 100%;
    cursor: pointer;
}*/

#play-pause-btn,
#mute,
#caption-button,
#volume-bar,
#playback-speed,
#full-screen {
    background: transparent;
    border: none;
}

.transcript {
    margin: auto;
    width: 90%;
    font-family: 'Varela', sans-serif;
    font-size: 1em;
}
