// CSS for Interactive Video Player //

.wrapper {
    width: 100%;
}

#video-box {
    margin: auto;
    width: 100%;
}

video {
    width: 100%;
}

#video-controls {
    background: black;
    opacity: .6;
    position: relative;
    width: 100%;
    height: 20px;
    bottom: 40px;
    margin: auto;
    color: white;
}

#progress-bar {
    background-color: black;
    width: 60%;
    position: relative;
    left: 10px;
}

#seek-slider {
    width: 60%;
    height: 20px;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: .6;
    background-color: red;
}

#buffer-bar {
    background-color: yellow;
    width: 60%;
    height: 20px;
    position: absolute;
    left: 0;
}

#play-pause-btn,
#mute,
#caption-button,
#volume-bar,
#playback-speed,
#full-screen {
    background: transparent;
    border: none;
}

.transcript {
    margin: auto;
    width: 90%;
    font-family: 'Varela', sans-serif;
    font-size: 1em;
}
